# App configuration
JWT_ACCESS_TOKEN_SECRET="secret"
JWT_ACCESS_TOKEN_EXPIRATION="15m"

JWT_REFRESH_ACCESS_TOKEN_SECRET="secretrefresh"
JWT_REFRESH_ACCESS_TOKEN_EXPIRATION="7d"

# Postgres Database
DATABASE_URL="postgres://postgres:rag4jiya@localhost:5432/rag4jiya"

# Object Storage
S3_REGION="us-east-1"
S3_ENDPOINT="http://localhost:9000"
S3_ACCESS_KEY_ID="minioadmin"
S3_SECRET_ACCESS_KEY="minioadmin"
