# App configuration
JWT_ACCESS_TOKEN_SECRET="secret"
JWT_ACCESS_TOKEN_EXPIRATION="15m"

JWT_REFRESH_ACCESS_TOKEN_SECRET="secret"
JWT_REFRESH_ACCESS_TOKEN_EXPIRATION="15m"

# Postgres Database
DATABASE_URL=""
